<div class="menu">
    {% set currenturl = app.request.pathinfo %}
    <a class="menu-link {{ path('create_booking') == currenturl ? 'active' }}" href="{{ path('create_booking') }}">Create booking</a>
    <a class="menu-link {{ path('bookings') == currenturl ? 'active' }}" href="{{ path('bookings')}}">All bookings</a>
</div>